@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply grid h-dvh place-items-center overflow-hidden font-mono antialiased;
  }

  code {
    counter-reset: line;
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }
  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }
  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }
  html.light {
    @apply bg-gray-100;
  }
  html.light [data-theme="dark"] {
    display: none;
  }
  html.dark [data-theme="light"] {
    display: none;
  }
}

.grid-pattern {
  background-image: linear-gradient(to right, #a4a4a4 1px, transparent 1px),
    linear-gradient(to bottom, #a4a4a4 1px, transparent 1px);
  background-size: 3vh 3vh;
  background-position: center;
  opacity: 0.1;
}

.grain-noise {
  background-image: url("/noise.png");
  animation: animate-noise 8s steps(10) infinite;
  opacity: 0.05;
}

@keyframes animate-noise {
  0%,
  100% {
    transform: translate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-5%, -10%);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translate(-15%, -20%);
  }
}
